@import "base.styl"
.swiper-slide
  text-align center
  display flex
  justify-content center
  img
    width 100%
    height 100%
  .slide-text
    position absolute
    color #fff
  h1
    top 30%
  p
    top 50%
.swiper-pagination
  width 100%
  margin-top -30px
  .swiper-pagination-bullet
    width bullet
    height bullet
    line-height bullet
    text-align center
    margin 0 4px
    color #fff