.swiper-slide
  text-align center
  display flex
  justify-content center
  img
    width 100%
    min-height 660px
  .slide-text
    position absolute
    color #fff
  h1
    top 300px
  p
    top 350px