extends ./module/int_base.pug

//- 这里是内容去
block content 
  include ./module/module_slider.pug
  h1 我是首页，我要做很多东西
    #container.col
        if youAreUsingPug
            p 大家好大家好
        else
            p Get on it!
        p.
            在首页真好
        h1=name