h1 这只是一个footer
  #container.col
    if youAreUsingPug
      p 我只是一个footer
    else
      p Get on it!
  p.
    Pug is a terse and simple templating language with a
    strong focus on performance and powerful features.
  h1='footer:  '+name